
# BEGIN Page Speed Ninja
# Las directivas (líneas) entre "BEGIN Page Speed Ninja" y "END Page Speed Ninja" son
# generados dinámicamente, y sólo deben ser modificados a través de los filtros de WordPress.
# Cualquier cambio en las directivas entre estos marcadores se sobrescribirá.

# END Page Speed Ninja